<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Ephemera Link</title>
    <link rel="stylesheet" type="text/css" href="static/view.css" media="all">
    <script type="text/javascript" src="static/view.js"></script>

</head>
<body id="main_body" >

<img id="top" src="static/top.png" alt="">
<div id="form_container">
    <h1><a>Ephemera Link - Error</a></h1>
    <div class="appnitro">
        <div class="form_description">
            <p class="error">{{ .error }}</p>
        </div>
    </div>
</div>
<img id="bottom" src="static/bottom.png" alt="">
<textarea id="clip" onclick="copyToClp()" style="z-index: -100; opacity: 0; width: 1px; height: 1px">{{.link}}</textarea><!-- this executes copyToClp() function on user's click -->
<script>
    var ta = document.getElementById('clip');
    if (!ta.value.startsWith('http')) {
        ta.value = window.location.href + ta.value;
    }
    function copyToClp(){
        ta.focus();
        ta.select();
        console.log(document.execCommand('copy'));
    }
</script>
</body>
</html>
