<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Ephemera Link</title>
    <link rel="stylesheet" type="text/css" href="static/view.css" media="all">
    <script type="text/javascript" src="static/view.js"></script>

</head>
<body id="main_body" >

<img id="top" src="static/top.png" alt="">
<div id="form_container">

    <h1><a>Ephemera Link</a></h1>
    <form class="appnitro"  method="post" action="">
        <div class="form_description">
            <h2>Create your secret</h2>
            <p></p>
        </div>
        <ul >

            <li id="li_1" >
                <label class="description" for="secret">Secret </label>
                <div>
                    <textarea id="secret" name="secret" class="element textarea medium"></textarea>
                </div>
            </li>

            <li class="buttons">
                <input id="save" class="button_text" type="submit" name="submit" value="Save" />
            </li>
        </ul>
    </form>
</div>
<img id="bottom" src="static/bottom.png" alt="">
</body>
</html>
